@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body
{
    margin: 0;
    padding: 0;

}

.main
{
    display: flex;
    justify-content: center;
    background-image: url("../img/pexels-zaksheuskaya-1568607.jpg");
    background-size: cover;
}

.main .content
{
    width: 60%;
    display: flex;
    justify-content: center;
}

.main .content .list 
{
    display: block;
    width: 50%;
    justify-content: center;
}

.main .content .heading
{
    text-align: center;
    text-transform: uppercase;
}

.main .content .link
{
    background-image: url("../img/pexels-iconcom-220634.jpg");
    background-size: cover;
    background-color: black;
    margin: 40px;
}

.tag
{
    width: 100%;
    height: 50px;
    text-align: center;
    padding-top: 2%;
    
}

.tag a
{
    color: aqua;
    text-decoration: none;
    
}


.tag a p
{
    
    width: 100%;
    height: 50px;
}